body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

h2 {
    margin-top: 30px;
    font-size: 1.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

ul {
    text-align: left;
    margin: 0 auto 20px;
    padding: 0;
    list-style-type: disc;
    max-width: 500px;
}

li {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #218838;
}

#exerciseResults, #bodyPartsList {
    margin-top: 20px;
}

.exercise, .body-part {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

